@using Rjb.WebApplication.Models
@model IEnumerable<FJB.Domain.Entities.Robots.Robot>

@{
    ViewBag.Title = "Company Robots";
}

<h2>Robots of @CurrentUser.User.Name</h2>

@Html.Partial("_Robots", Model)
