@using Rjb.WebApplication.Models
@model IEnumerable<FJB.Domain.Entities.Robots.Robot>

@{
    ViewBag.Title = "Company Robots";
}

<div class="row">
    <h2>Robots of @CurrentUser.User.Name</h2>

    @Html.Partial("_Robots", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   
    <script>
        $(document).ready(function () {
            $("#MyRobotsNavTab").addClass('active');
        });
    </script>
}
