@model FJB.Domain.Entities.Users.Company
@{
    ViewBag.Title = "Register Company";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("RegisterCompany", "Users", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px;">
        <div class="column" style="margin-top: 5px;">
            <div class="ui raised segment">
                <div class="ui blue right ribbon label">
                    <i class="registered icon"></i> Register Company
                </div>

                <h3 style="margin-top: -20px;">Register Company</h3>
                <div class="ui form">
                    <div class="field">
                        <label>Company Name</label>
                        <div class="ui left icon input">
                            <input type="text" name="Name" id="Name" placeholder="Company Name" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <div class="ui left icon input">
                            <input type="email" name="Email" id="Email" placeholder="Email" required>
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input type="password" name="Password" id="Password" placeholder="Password" required>
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="margin-left-center">
                        <button type="submit" class="ui blue submit button">Register Company</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
